@model StajSistemiUygulamasi.Models.StajBilgi

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sil</h2>

<h3>Silmek İstediginize Emin Misiniz?</h3>
<div>
    <h4>Staj Bilgi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sinif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sinif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sehir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sehir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StajKonusu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StajKonusu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BitisTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BitisTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToplamGun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToplamGun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KabulEdilenGun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KabulEdilenGun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StajDegerlendirildi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StajDegerlendirildi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrenciBilgi.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciBilgi.Adi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Kayitlari Gor", "Index")
        </div>
    }
</div>
