@model StajSistemiUygulamasi.Models.DgsVeYatayBilgi

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Guncelle</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Dgs Ve Yatay Bilgi</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.OgrenciNo, "OgrenciNo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("OgrenciNo", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OgrenciNo, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.OncekiOkul)

        <div class="form-group">
            @Html.LabelFor(model => model.KurumAdi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KurumAdi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KurumAdi, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.ToplamGun)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Kayitlari Gor", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
